In [23]:
import pandas as pd

In [24]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows',1000)
pd.set_option('display.float_format', lambda x: '%.0f' % x)

In [25]:
# файл csv с id формате  7.00000010381415e+16
# df = pd.read_csv('data/uae_trade_license.csv')
df = pd.read_csv('data/dubai_trade_lic.csv')

In [26]:
df.head(10)

,id,source_id,stable_id,name,firm_id,firm_name,branch_id,tradelicense,phone
0,70000001038141504,1,70000001038141504,Total Care Mobile Phones LLC,70000001038141504,Total Care Mobile Phones LLC,99,CN-1795648,557130040
1,70000001038139640,1,70000001038139640,Smart Tax Consultancy LLC,70000001038139640,Smart Tax Consultancy LLC,99,CN-2433306,507339118
2,70000001006487872,1,70000001006487872,Vital Sign LLC,70000001006487872,Vital Sign LLC,99,650350.0,2383278
3,70000001032892096,1,70000001032892096,Mohammed Kahteeri Gas District Establishment,70000001032892096,Mohammed Kahteeri Gas District Establishment,99,CN-1049336,NaN
4,70000001042542336,1,70000001042542336,"Marina, cafe and restaurant",70000001042542336,"Marina, cafe and restaurant",99,5284.0,2441911
5,70000001038121424,1,70000001038121424,Al Fares Taekwondo Center LLC,70000001038121416,Al Fares Taekwondo Center LLC,99,CN-2164712,5544647
6,70000001041164864,1,70000001041164864,Punjabi Dhaba Restaurant LLC,70000001041164864,Punjabi Dhaba Restaurant LLC,99,42258.0,558991486
7,70000001032080688,1,70000001032080688,Shafiq Interiors LLC,70000001032080688,Shafiq Interiors LLC,99,69385.0,502121164
8,70000001032882688,1,70000001032882688,"Long Way Fresh Meat Trading, shop",70000001032882688,"Long Way Fresh Meat Trading, shop",99,CN-1185183,544652736
9,70000001046931776,1,70000001046931776,"Couplers General Contracting, company",70000001046931776,"Couplers General Contracting, company",99,CN-1781941,557223989

In [56]:
 # файл csv с id формате  70000001038141504
df.to_csv('dat/uae_trade_license_3.csv',sep=',' , float_format='%.0f', index=False)

In [61]:
df

,id,source_id,stable_id,name,firm_id,firm_name,branch_id,tradelicense,phone
0,70000001038141504,1,70000001038141504,Total Care Mobile Phones LLC,70000001038141504,Total Care Mobile Phones LLC,99,CN-1795648,557130040
1,70000001038139640,1,70000001038139640,Smart Tax Consultancy LLC,70000001038139640,Smart Tax Consultancy LLC,99,CN-2433306,507339118
2,70000001006487872,1,70000001006487872,Vital Sign LLC,70000001006487872,Vital Sign LLC,99,650350.0,2383278
3,70000001031625136,1,70000001031625136,"Al Shams Al Tahabiah Garments Ironing, laundry",70000001031625136,"Al Shams Al Tahabiah Garments Ironing, laundry",99,749204.0,502039685
4,70000001032892096,1,70000001032892096,Mohammed Kahteeri Gas District Establishment,70000001032892096,Mohammed Kahteeri Gas District Establishment,99,CN-1049336,NaN
...,...,...,...,...,...,...,...,...,...
69810,70000001039928304,1,70000001039928304,"JF, restaurant and cafe",70000001039928304,"JF, restaurant and cafe",99,CN-2289775,523005997
69811,70000001034214128,1,70000001034214128,"Layaly Adan, restaurant",70000001034214120,"Layaly Adan, restaurant",99,93749,2221227
69812,70000001028250992,1,70000001028250992,Gulfscape Technical Services Company LLC,70000001028250992,Gulfscape Technical Services Company LLC,99,746018,2659835
69813,70000001032648656,1,70000001032648656,"Kanaan Decor, company",70000001032648648,"Kanaan Decor, company",99,CN-1033065,5542867
69814,70000001006649704,1,70000001006649704,Selex Electricals LLC,70000001006649704,Selex Electricals LLC,99,554414,2678714

In [22]:
x = 7.00000010381415e+16
print('%.0f' % x)

70000001038141504