In [2]:
import pandas as pd

In [45]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows',1000)
pd.set_option('display.float_format', lambda x: '%.f' % x)

In [46]:
# файл csv с id формате  7.00000010381415e+16
df = pd.read_csv('data/uae_trade_license_2.csv')

In [56]:
 # файл csv с id формате  70000001038141504
df.to_csv('dat/uae_trade_license_3.csv',sep=',' , float_format='%.0f', index=False)

In [57]:
df

,id,source_id,stable_id,name,firm_id,firm_name,branch_id,tradelicense,phone
0,70000001038141504,1,70000001038141504,Total Care Mobile Phones LLC,70000001038141504,Total Care Mobile Phones LLC,99,CN-1795648,557130040
1,70000001038139640,1,70000001038139640,Smart Tax Consultancy LLC,70000001038139640,Smart Tax Consultancy LLC,99,CN-2433306,507339118
2,70000001006487872,1,70000001006487872,Vital Sign LLC,70000001006487872,Vital Sign LLC,99,650350.0,2383278
3,70000001031625136,1,70000001031625136,"Al Shams Al Tahabiah Garments Ironing, laundry",70000001031625136,"Al Shams Al Tahabiah Garments Ironing, laundry",99,749204.0,502039685
4,70000001032892096,1,70000001032892096,Mohammed Kahteeri Gas District Establishment,70000001032892096,Mohammed Kahteeri Gas District Establishment,99,CN-1049336,NaN
...,...,...,...,...,...,...,...,...,...
69810,70000001039928304,1,70000001039928304,"JF, restaurant and cafe",70000001039928304,"JF, restaurant and cafe",99,CN-2289775,523005997
69811,70000001034214128,1,70000001034214128,"Layaly Adan, restaurant",70000001034214120,"Layaly Adan, restaurant",99,93749,2221227
69812,70000001028250992,1,70000001028250992,Gulfscape Technical Services Company LLC,70000001028250992,Gulfscape Technical Services Company LLC,99,746018,2659835
69813,70000001032648656,1,70000001032648656,"Kanaan Decor, company",70000001032648648,"Kanaan Decor, company",99,CN-1033065,5542867
69814,70000001006649704,1,70000001006649704,Selex Electricals LLC,70000001006649704,Selex Electricals LLC,99,554414,2678714