In [1]:
import pandas as pd
import numpy as np
import time
from datetime import timedelta
from decouple import config
import os

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows',1000)
pd.set_option('display.float_format', lambda x: '%.f' % x)

In [18]:
df_lic_master = pd.read_csv('data/License_Master_ed.csv', sep=';')

In [19]:
df_lic_master

,license_number,issue_date,expiry_date,cancel_date,license_status_desc_en,license_category_desc_en
0,1000029,03/11/2021,02/11/2022,NaN,Active,Professional
1,1000066,04/11/2021,03/11/2022,NaN,Active,Commercial
2,1000098,03/11/2021,02/11/2022,NaN,Active,Professional
3,1000136,03/11/2021,02/11/2022,NaN,Active,Commercial
4,100021,04/06/1978,22/01/2022,NaN,Under Transaction,Professional
...,...,...,...,...,...,...
538466,991630,11/10/2021,09/10/2022,NaN,Active,Professional
538467,991830,11/10/2021,10/10/2022,NaN,Active,Professional
538468,992630,14/10/2021,13/10/2022,NaN,Active,Professional
538469,992830,13/10/2021,12/10/2022,NaN,Active,Professional
538470,993230,14/10/2021,13/10/2022,NaN,Active,Commercial

In [13]:
df_cards_w_lic = pd.read_csv('data/dubai_trade_licencies_all.csv', sep= ',')

In [20]:
df_cards_w_lic

,id,source_id,stable_id,name,firm_id,firm_name,branch_id,tradelicense,phone
0,70000001006418103,1,70000001006418103,"Jubily, supermarket",70000001006418104,"Jubily, supermarket",99,590561.0,3401477
1,70000001034259381,1,70000001034259381,"PMG Overseas Trading, company",70000001034259380,"PMG Overseas Trading, company",99,24047.0,561961331
2,70000001040970652,1,70000001040970652,Wardat Al Rabea Ladies Gowns Tailoring LLC,70000001040970651,Wardat Al Rabea Ladies Gowns Tailoring LLC,99,79043.0,555684918
3,70000001041165521,1,70000001041165521,"Al Themar, driving school",70000001041165520,"Al Themar, driving school",99,50862.0,506971326
4,70000001033291710,1,70000001033291710,"Safeera, supermarket",70000001040947562,"Safeera, supermarket",99,697.0,7667275
...,...,...,...,...,...,...,...,...,...
69639,70000001034257916,1,70000001034257916,Suhani International FZC,70000001034257915,Suhani International FZC,99,22407,559398326
69640,70000001038139044,1,70000001038139044,"Shabab Al Khatam, gents salon",70000001038139043,"Shabab Al Khatam, gents salon",99,CN-1019937,504449440
69641,70000001036144859,1,70000001036144859,Abdullatif Bastaki Meat Trading LLC,70000001036144858,Abdullatif Bastaki Meat Trading LLC,99,627392,3316961
69642,70000001033378867,1,70000001033378867,"Khalid Saif Electrical & Plumbing Works, servi...",70000001033378866,"Khalid Saif Electrical & Plumbing Works, servi...",99,7227,508669266
69643,70000001047146617,1,70000001047146617,"Al Remal Al Fadhia Plastic Products, trading c...",70000001047146616,"Al Remal Al Fadhia Plastic Products, trading c...",99,513027,504563790

In [21]:
df_cards_w_lic['tradelicense'] = df_cards_w_lic['tradelicense'].str.replace("\.0", "")

/var/folders/5b/cfgbcxjj0n30b2ljslhwkz9mndjsxd/T/ipykernel_63205/2142501975.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_cards_w_lic['tradelicense'] = df_cards_w_lic['tradelicense'].str.replace("\.0", "")

In [22]:
df_cards_w_lic

,id,source_id,stable_id,name,firm_id,firm_name,branch_id,tradelicense,phone
0,70000001006418103,1,70000001006418103,"Jubily, supermarket",70000001006418104,"Jubily, supermarket",99,590561,3401477
1,70000001034259381,1,70000001034259381,"PMG Overseas Trading, company",70000001034259380,"PMG Overseas Trading, company",99,24047,561961331
2,70000001040970652,1,70000001040970652,Wardat Al Rabea Ladies Gowns Tailoring LLC,70000001040970651,Wardat Al Rabea Ladies Gowns Tailoring LLC,99,79043,555684918
3,70000001041165521,1,70000001041165521,"Al Themar, driving school",70000001041165520,"Al Themar, driving school",99,50862,506971326
4,70000001033291710,1,70000001033291710,"Safeera, supermarket",70000001040947562,"Safeera, supermarket",99,697,7667275
...,...,...,...,...,...,...,...,...,...
69639,70000001034257916,1,70000001034257916,Suhani International FZC,70000001034257915,Suhani International FZC,99,22407,559398326
69640,70000001038139044,1,70000001038139044,"Shabab Al Khatam, gents salon",70000001038139043,"Shabab Al Khatam, gents salon",99,CN-1019937,504449440
69641,70000001036144859,1,70000001036144859,Abdullatif Bastaki Meat Trading LLC,70000001036144858,Abdullatif Bastaki Meat Trading LLC,99,627392,3316961
69642,70000001033378867,1,70000001033378867,"Khalid Saif Electrical & Plumbing Works, servi...",70000001033378866,"Khalid Saif Electrical & Plumbing Works, servi...",99,7227,508669266
69643,70000001047146617,1,70000001047146617,"Al Remal Al Fadhia Plastic Products, trading c...",70000001047146616,"Al Remal Al Fadhia Plastic Products, trading c...",99,513027,504563790

In [30]:
df_cards_w_lic['tradelicense'] = df_cards_w_lic['tradelicense'].astype(str)
df_lic_master['license_number'] = df_lic_master['license_number'].astype(str)

In [31]:
df_crdsWLic_mergedWLicMaster = df_cards_w_lic.merge(df_lic_master.drop_duplicates(), left_on=['tradelicense'], right_on=['license_number'], how='left', indicator='Ind1')

In [32]:
df_crdsWLic_mergedWLicMaster[df_crdsWLic_mergedWLicMaster['Ind1']=='both']

,id,source_id,stable_id,name,firm_id,firm_name,branch_id,tradelicense,phone,license_number,issue_date,expiry_date,cancel_date,license_status_desc_en,license_category_desc_en,Ind1
0,70000001006418103,1,70000001006418103,"Jubily, supermarket",70000001006418104,"Jubily, supermarket",99,590561,3401477,590561,24/01/2007,23/01/2022,NaN,Active,Commercial,both
7,70000001036144900,1,70000001036144900,Morshed & Biplob Technical Services LLC,70000001036144899,Morshed & Biplob Technical Services LLC,99,827262,562762070,827262,24/02/2019,23/02/2022,NaN,Active,Commercial,both
11,70000001018159070,1,70000001018159070,"Saif Bukhatra, grocery",70000001018159069,"Saif Bukhatra, grocery",99,231423,2640562,231423,15/07/1993,14/07/2022,NaN,Active,Commercial,both
14,70000001006503713,1,70000001006503713,"Jubily, supermarket",70000001006418104,"Jubily, supermarket",99,667754,3804663,667754,25/03/2012,24/03/2022,NaN,Active,Commercial,both
15,70000001042747489,1,70000001042747489,"Ghazal Al Madina Clothes Washing, laundry",70000001042747488,"Ghazal Al Madina Clothes Washing, laundry",99,101358,563516030,101358,11/05/1982,10/05/1988,29/10/1988,Cancelled,Professional,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69628,70000001034278587,1,70000001034278587,Safe Line Group Enterprises LLC,70000001034278586,Safe Line Group Enterprises LLC,99,564848,3714444,564848,12/01/2005,11/01/2022,NaN,Active,Commercial,both
69631,70000001056095162,1,70000001056095162,Wlayem Kitchen & Restaurant,70000001056095161,Wlayem Kitchen & Restaurant,99,108464,581224400,108464,17/10/1977,23/04/1989,23/12/1989,Cancelled,Professional,both
69636,70000001006561541,1,70000001006561541,"Al Badran, grocery",70000001006561542,"Al Badran, grocery",99,234641,2685408,234641,07/06/1994,06/06/2022,NaN,Active,Commercial,both
69641,70000001036144859,1,70000001036144859,Abdullatif Bastaki Meat Trading LLC,70000001036144858,Abdullatif Bastaki Meat Trading LLC,99,627392,3316961,627392,22/07/2009,21/07/2022,NaN,Active,Commercial,both
69643,70000001047146617,1,70000001047146617,"Al Remal Al Fadhia Plastic Products, trading c...",70000001047146616,"Al Remal Al Fadhia Plastic Products, trading c...",99,513027,504563790,513027,06/07/1999,05/07/2000,19/10/2006,Cancelled,Professional,both

In [34]:
df_crdsWLic_mergedWLicMaster.head(1000).to_csv('data/dubai_licesnses_sample_1000.csv', index=False, sep=';')